In [126]:
from bs4 import BeautifulSoup
import requests
from bs4 import BeautifulSoup
         # By importing BeautifulSoup Soup we can parse and scrap the HTML and XML document
import requests
         # By Importing requests we can request to API and we can get the raw HTML contents from website i.e to scraping
import os
         # This library helps to intrect directly from Operating System
import nltk
         # By this we can import Natural Language toolkit
from nltk import corpus
         # By this we can import coprora reader which helps to handle specific corpus format 
import re
        # By this we can import Regular Expression which will help to find  some specific things from scrap

from urllib.request import urlopen,urlparse, Request,HTTPError
import warnings
import pandas as pd

In [127]:
url='https://www.smartjoules.co.in/'

In [128]:
website=pd.DataFrame([url],columns=['Website'])

In [129]:
requests.get(url).text


f = urlopen(url)
reg = "((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,3})|(\(?\d{2,3}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}"
s = f.read().decode('UTF-8') 
phone = re. findall(reg, s) 

ph=[]
for phone in phone:    
    g  = list(filter(None, phone))    
    g=''.join(g)    
    ph.append(g) 

final_list = [] 
def Remove(duplicate):     
    for num in duplicate:     
        if num not in final_list:     
            final_list.append(num)     
            return final_list 
            k = Remove(ph)
            



#print(ph)

mail=re.findall(r"[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}",s)  #Email regex

In [130]:
type(web)

pandas.core.frame.DataFrame

In [131]:
ph

['1631639833816',
 '1010-2016-1073',
 '1212-2016-1095',
 '73073034021943',
 '12129910548']

In [132]:
phone=pd.DataFrame(ph,columns=['Phone_number'])

In [133]:
phone

     Phone_number
0   1631639833816
1  1010-2016-1073
2  1212-2016-1095
3  73073034021943
4     12129910548

In [134]:
#j='  '.join(ph)

In [135]:
mail

['info@smartjoules.in', 'info@smartjoules.in']

In [136]:
mail=pd.DataFrame(mail,columns=['Email'])

In [137]:
mail

                 Email
0  info@smartjoules.in
1  info@smartjoules.in

In [138]:
dataframe=pd.concat([website,phone,mail],axis=True)

In [139]:
dataframe

                          Website    Phone_number                Email
0  https://www.smartjoules.co.in/   1631639833816  info@smartjoules.in
1                             NaN  1010-2016-1073  info@smartjoules.in
2                             NaN  1212-2016-1095                  NaN
3                             NaN  73073034021943                  NaN
4                             NaN     12129910548                  NaN

In [141]:
import csv
import pandas as pd

In [142]:
dataframe.to_csv(r'B:\dataframe.csv')